/* You can add global styles to this file, and also import other style files */

html, body {
  background: #e5e5e5;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.month {
  width: 90%;
  padding: 20px;
  background: #fff;
  position: relative;
  overflow: hidden;
  float: left;
  margin: 20px;
  height: 100%;
}
.month h3 {
  text-align: center;
  margin: -20px -20px 30px -20px;
  padding: 20px 0;
  background: #e5e5e5;
  color: #fff;
}

.day, .dow, .dummy-day {
  display: inline-block;
  height: 100px;
  width: 12.7864%;
  float: left;
  text-align: center;
  margin-right: 0.5%;
}

.dow {
  font-weight: bold;
  margin-bottom: 1px;
}

.day {
  color: #333;
  height: 100px;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #eee;
}

.importance {
  color: #33FFE9;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #eee;
}

.day.weekend {
  background: #fafaff;
  color: red
}
.day:hover {
  background: yellow;
}

.day, .dummy-day {
  height: 40px;
  line-height: 40px;
  margin-bottom: 1.5%;
  background: #fff;
}

.dummy-day {
  background: #f5f5f5;
  color: #ccc;
}

.swiper-container {
        width: 100%;
        height: 100%;
}

 .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

